<section class="page__share">

  <div><a href="https://timothymcmack.in"
    target="_blank"
    class="social-link"
    title="Tim's personal site">
    <i class="fa fa-user"></i>
  </a></div>

  <div><a href="https://www.youtube.com/watch?v=INKPWcv_i0k&list=PLpDx-rmEnbuxnaXKmQslL_sj66lUKm_16"
    target="_blank"
    class="social-link"
    title="Tim's kite videos">
    <i class="fab faw fa-youtube"></i>
  </a></div>

  <div><a href="https://github.com/timothymcmackin/kite-site"
    target="_blank"
    class="social-link"
    title="Github repo">
    <i class="fab fa-fw fa-github"></i>
  </a></div>

</section>