---
layout: default
---

{% comment %}
Pass the name of the collection as the `collection` field in the page front matter.
{% endcomment %}

<script>
  const gallery = [
  {% for kite in site[page.collection] %}
  {% for image in kite.images %}
    {
      src: "{{ site.baseurl }}/assets/images/{{ image }}",
      title: "loading description...",
    },
  {% endfor %}
  {% endfor %}
  ];

  window.showKites = function(idx) {
    Spotlight.show(gallery, {
      index: idx,
      onchange: (index, options) => {
        // https://github.com/nextapps-de/spotlight/issues/53
        // Decode HTML entities in title and description
        const titleElement = document.querySelector('#spotlight .spl-title');
        // const descriptionElement = document.querySelector('#spotlight .spl-description');
        // titleElement.innerHTML = decodeURIComponent(titleElement.innerText);

        let html = document.querySelector('#description_' + (index)).innerHTML;
        // Remove trailing "
        html = html.substr(0, html.length - 1);
        // both lines needed - can't figure out why
        titleElement.innerHTML = decodeURIComponent(html);
        titleElement.innerHTML = decodeURIComponent(html);


      },
    });
  }
  </script>


{% assign imageCounter = 0 %}
<div class="kite-detail-container">
{% for kite in site[page.collection] %}
  <div class="kiteRow">
    <div>
      <div class="kiteName">
        {% if kite.name %}
          {{ kite.name }}
        {% else %}
          {{ kite.make }} {{ kite.model }} {{ kite.trim }}
        {% endif %}
      </div>
      <ul class="kite-detail-list">
        {% comment %}
        Trying to work out how to do this dynamically.
        Can't seem to access custom properties on the collection.
        Maybe the details could be a separate piece of data.
        {% endcomment %}
        {% if kite.make %}<li>Make: {{ kite.make }}</li>{% endif %}
        {% if kite.model %}<li>Model: {{ kite.model }}</li>{% endif %}
        {% if kite.trim %}<li>Trim: {{ kite.trim }}</li>{% endif %}
        {% if kite.size %}<li>Size: {{ kite.size }}</li>{% endif %}
        {% if kite.edition %}<li>Edition: {{ kite.edition }}</li>{% endif %}
        {% if kite.obtained %}<li>Obtained: {{ kite.obtained }}</li>{% endif %}
        {% if kite.videos %}
          <li>
            {% for video in kite.videos %}
            <a href="{{ video.url }}" target="_blank" title="{{ video.title }}">
              <img src="{{ site.baseurl }}/assets/images/youtube-logo-24.png" class="youtube-icon" alt="{{ video.title }}"/>
            </a>
            {% endfor %}
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="kiteContent">
      {{ kite.content | markdownify }}
    </div>
    <div class="kiteImages">
      {% for image in kite.images %}
        {% assign imageCounter = imageCounter | plus: 1 %}
        <div onClick="window.showKites({{ imageCounter }})">
          <img src="{{ site.baseurl }}/assets/images/{{ image }}" class="kiteThumb">
          <div id="description_{{ imageCounter}}" style="display:none;">{{ kite.content | markdownify }}"</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
